Програма потребує базового поняття пайтону, а також встановлення програми "visual studio code"(або іншої програми для компілювання файлів мовою "Python"

Після встановлення програми вам потрібно встановити num2words, для цього потрібно ввести в "Therminal"(якщо ж у вас не VS code, то використати інше місце для введення команди), 
та ввести:

"""
pip install num2words
"""

Після цього почати роботу з даним файлом

Використовувалися методичні матеріали, та інтернет ресурси для кращої подачі своєї роботи.
